.CreateSkill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CreateSkill__input {
  width: 15rem;
}
.CreateSkill__btn {
  width: 8rem;
  margin: 1rem;
}
