.JobCard {
  width: 100%;
}

.JobCard__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.JobCard__title {
  color: #000;
}

/* for PC */
@media (min-width: 40rem) {
  /* .JobCard {
    max-width: 40rem;
  } */
  /* .JobCard__container {
    max-width: 40rem;
  } */
}
