.wrapper {
  display: flex;
  justify-content: center;
}

.JobSearchForm {
  width: 80%;
}

.JobSearchForm__input {
  width: 100%;
}

.JobSearchForm__btn {
  width: 100%;
}

/* for PC */
@media (min-width: 80rem) {
  .JobSearchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .JobSearchForm__input {
    width: 100%;
  }
  .JobSearchForm__btn {
    width: 20rem;
  }
}
